* {
  margin: 0;
  padding: 0;
  /* list-style: none; */
}

body {
  background-color: rgb(255, 243, 243);
  font-family: "Poppins";
  line-height: 1.5;
  overflow-x: hidden;
}

main {
  display: flex;
}

.title {
  background-color: rgb(255, 196, 196);
  width: 200px;
  margin-left: 0;
  text-align: center;
  padding: 7px 12px;
  border-radius: 20px;
}

.title.title-1,
.title.title-2,
.title.title-3 {
  position: relative;
  left: -50px;
  border-radius: 0 20px 20px 0;
  margin-bottom: 20px;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(246, 151, 151);
  margin-left: 50px;
  padding: 22px;
  width: 300px;
  height: 100%;
  border-radius: 300px 300px 0 0;
}

.image-wrapper {
  display: flex;
  width: 250px;
}

img {
  width: 100%;
  border-radius: 50%;
  border: 5px solid white;
}

.tentang-saya {
  margin: 50px 0;
}

.keahlian-wrapper {
  margin: 50px 0;
}

.sosial {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sosial li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sosial li a {
  text-decoration: none;
}

.sosial li a i {
  color: #010101;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1.5px solid white;
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.main-section {
  margin-left: 90px;
}

.myname {
  padding: 45px;
  text-align: center;
}

.myname h1 {
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 10px;
}

.myname p {
  font-style: italic;
  color: #9f9f9f;
}

.data-pribadi {
  margin: 55px 0;
}

.bahasa-wrapper {
  margin: 55px 0;
}

.title.title-4,
.title.title-5,
.title.title-6 {
  margin-bottom: 28px;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: rgb(255, 196, 196);
  width: 100%;
  padding: 22px;
}

footer p {
  font-size: 14px;
  text-align: center;
}

footer p i {
  color: red;
}

@media (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
  header {
    width: 100%;
    margin: 0;
  }
  .myname {
    padding: 25px;
    text-align: center;

    width: 100%;
  }
  .myname h1 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 25px;
  }
  .bahasa-wrapper {
    margin: 55px 0 125px 0;
  }

  footer {
    width: 100%;
  }
}
